body {
    background-color: rgb(128,128,128);
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    background-image: url('../img/background-tile.png');
    background-repeat: repeat;
    background-size: 250px;
 }
 
 .navbar {
    background-color: darkred; /*#7d272c*/
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
 }
 .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
 }
 .navbar ul li {
    display: inline;
 }
 .navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: color linear 250ms;
    transition: background-color linear 250ms;
 }  
 
 .navbar ul li a:hover {
    color: antiquewhite;
    background-color: #7d272c;
 }
 
 .navbar ul li:not(:first-child) {
    margin-left: auto;
 }
 
 .navbar ul .dropdown {
    display: none;
    position: absolute;
  }
 
 .navbar ul li:hover .dropdown {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #7d272c;
    height: 20px;
 }