.banner {
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.banner #logo {
   height: 300px;
   margin-top: 30px;
}

.banner h1 {
   color: white;
   font-size: 30px;
   margin-top: 30px;
}

.quick-actions {
   margin-top: 20px;
   width: 100%;
   scale: 100%;
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
}

.quick-action {
   border-radius: 10px;
   background-color: darkred;
   padding: 10px;
   transition: transform linear 50ms;
   width: 420px;
   text-align: center;
   margin: 0px 15px 0px 15px;
}

.quick-action:hover {
   transform: scale(110%);
}

.quick-action a {
   color: white;
   text-decoration: none;
}