body {
   background-color: gray;
   font-family: "Lucida Console", "Courier New", monospace;
   margin: 0;
   background-image: url('path_to_your_image.jpg');
   background-repeat: repeat;
}

.navbar {
   background-color: #7d272c;
   position: sticky;
   top: 0;
   width: 100%;
   height: 50px;
}
.navbar ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   height: inherit;
   align-items: center;
}
.navbar ul li {
   display: inline;
}
.navbar ul li a {
   color: white;
   text-decoration: none;
   padding: 15px;
}

.navbar ul li:not(:first-child) {
   margin-left: auto;
}

.navbar ul .dropdown {
   display: none;
   position: absolute;
 }

 .navbar ul li:hover .dropdown {
   display: flex;
   flex-direction: column;
   text-align: left;
   background-color: #7d272c;
   height: 20px;
 }

.banner {
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.banner #logo {
   height: 300px;
   margin-top: 30px;
}

.banner h1 {
   color: white;
   font-size: 30px;
   margin-top: 30px;
}

.quick-actions {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 20px;
   width: 100%;
}

.quick-action {
   border-radius: 10px;
   background-color: #7d272c;
   padding: 10px;
}

.quick-action a {
   color: white;
   text-decoration: none;
}